.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    
}

p{
    font-size: 1vh;
}

.flip-box{
    padding: 10vh;
    

}

h4 {
    font-family: 'Comfortaa', 'cursive';
    font-size: 5vh;
}

/* turn links purple on hover
 */

