@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.title {
    margin-top: 20vh;
    text-align: center;
}

.content {
    margin-bottom: 10vh;
}

p::first-letter {
    font-size: 250%;
    color: #8A2BE2;
}




