@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

nav {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: dodgerblue;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}

a {
    text-decoration: none;
    font-family: 'Permanent Marker', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    cursive;
    color: inherit;
}

.current {
    color:black;
    font-weight: bolder;
}

a:hover {
    color: black;
}

.active {
    color: black;
    font-weight: bolder;
}
