button {
    font-family: 'Permanent Marker', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 16px;
    background-color: dodgerblue;
    color: whitesmoke;
}

button:hover {
    background-color: black;
}
