h2 {
    font-family: 'Comfortaa', 'cursive';
    font-size: 10vw;
}

h3 {
    font-family: 'Comfortaa', 'cursive';
    font-size: 4vw;
}

p {
    font-family: 'Comfortaa', 'cursive';
    font-size: 2vw;
}
